.Projects {
  width: 20%;
  text-align: center;
  background-color: blue; 
  float: right;
  border: solid gray;  
  border-width: 3px;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
}

.AboutMe {
  width: 20%;
  text-align: center;
  background-color: blue; 
  float: left;
  border: solid gray;  
  border-width: 3px;
  box-sizing: border-box;
}

.FancyLetters {
  font-family: Edwardian Scrpit;
  font-size: 150%;
  font-style: italic;
  font-weight: bolder;
}

.img {
  display: block;   
  margin: auto;
}

